//
// _layout.scss 
//

@use "../variables" as *;
@use "../utils/mixins" as *;

.page-wrapper {
    @include transition(all 0.3s cubic-bezier(0.4, 0, 0.2, 1));
    margin: 0 0 0 $sidenav-width;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    min-height: calc(100vh - ($topbar-height + 1px));

    @include respond-below(lg) {
        margin: 0;
    }

    .content {
        padding: 1.25rem 1.25rem 7rem;
        min-height: calc(100vh - 96px);
    }
}